<%= stylesheet_link_tag "index.css" %>

<h1 id='maintitle' class="display-1">Indee</h1>


<% if user_signed_in? %>
    <div id='tophead'>
      <%= button_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-danger mybutton") %>
    </div>
      <% end %>

<div class="jumbotron">
  <h1 class="display-3">Welcome!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for
                  calling extra attention to featured content or information.</p>
  <hr class="m-y-2">
  <p>It uses utility classes for typography and
     spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-danger" href="#" role="button">Hide</a>
  </p>
</div>
<br />
<br />
<div>
  <h4 class="display-4">Below is a list of current Indee personel.</h4>
  <hr class="m-y-2 breaker">

<table class="table table-striped">
    <tr>
      <th class="thead">
        Full Name
      </th>
      <th class="thead">
        More
      </th>
    </tr>
    <% @workers.each do |w| %>
    <tr>
      <td>
        <div> <%= w.full_name %> </div>
      </td>
      <td>
        <%=link_to('Show more info.', {:action => 'show', :id => w.id}, :class => 'indexlink show')%>
      </td>
    </tr>
  <% end %>

</table>
<br />
<br />
<div class='buttonwidth'>
<%= button_to "Add a new worker", {:action => 'new'}, :class => 'link btn btn-danger btn-lg btn-block' %>
</div>
