<%= stylesheet_link_tag "index.css" %>

<% if user_signed_in? %>
<div id='tophead' class='btn btn-primary mybutton'>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "logout-btn") %>
</div>
<% end %>
<h1 id='maintitle' class="display-1">Indee</h1>
<div class='btn btn-primary mybutton'>
<%= link_to('Go Back', {:action => 'index'}, :class => 'back-btn') %>
</div>

  <p class='inserthead'>Insert appropriate information below.</p>
<div class="inputform">
  <%= form_for(:worker, :url => {:action => 'create'}) do |w| %>
  <form>
  <div class="form-group">
    <label for="exampleInputName2">Full Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe"><%= (:full_name) %>

  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Worker Level</label>
    <input type="text" class="form-control" id="exampleInputLevel2" placeholder="Padawan">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Location</label>
    <input type="text" class="form-control" id="exampleInputLocation2" placeholder="London">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Specialty</label>
    <input type="text" class="form-control" id="exampleInputSpecialty2" placeholder="JavaScript">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Contact Number</label>
    <input type="number" class="form-control" id="exampleInputNumber2" placeholder="555-55555">
  </div>
  <button type="submit" class="btn btn-primary">Send invitation</button>
</form>
    <%= submit_tag("Save this worker", :class => "save") %>
    <% end %>
  </div>
