<%= stylesheet_link_tag "index.css" %>



<% if user_signed_in? %>
  <div id='tophead' class='btn btn-danger mybutton'>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "link logout-btn") %>

  </div>
<% end %>
</div>

<h1 id='maintitle' class="display-1">Indee</h1>

<hr class="m-y-2 breaker">




<p class='inserthead'>Details for <%= @worker.full_name %></p>

<hr class="m-y-2 minibreaker">

<div class='newmainbody'>
<table class=' table-hover newtable'>
    <tr class='information'>
      <td>
        Full Name
      </td>
      <td>
        <%= @worker.full_name %>
      </td>
    </tr>
    <tr class='information'>
      <td>
        Worker Level
      </td>
      <td>
        <%= @worker.worker_level %>
      </td>
    </tr>
    <tr class='information'>
      <td>
        Location
      </td>
      <td>
        <%= @worker.location %>
      </td>
    </tr>
    <tr class='information'>
      <td>
        Specialty
      </td>
      <td>
        <%= @worker.specialty %>
      </td>
    </tr>
    <tr class='information'>
      <td>
        Contact Number
      </td>
      <td>
        <%= @worker.contact_number %>
      </td>
    </tr>
</table>
<div class="btn btn-danger btn-lg btn-block showbutton">
  <%= link_to "Delete",{:action => 'destroy', :id => @worker.id}, :method => :delete, :class => 'link logout-btn' %>
</div>
<div class="btn btn-danger btn-lg btn-block showbutton">
  <%= link_to 'Edit', {:action => 'edit', :id => @worker.id}, :class => 'link logout-btn' %>

</div>
</div>
