<%= stylesheet_link_tag "index.css" %>

<div 'tophead'>
<% if user_signed_in? %>
<div class = 'logout'>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "button") %>
</div>
<div class='logout'>
<%= link_to('Go Back', {:action => 'index'}, :class => 'button') %>
</div>
<% end %>
<h1 class='header'>Indee</h1>
</div>
<div class='newmainbody'>
<p class='inserthead'>Details for <%= @worker.full_name %></p>


<table class='newtable'>
    <tr>
      <td class='information'>
        Full Name
      </td>
      <td>
        <%= @worker.full_name %>
      </td>
    </tr>
    <tr>
      <td class='information'>
        Worker Level
      </td>
      <td>
        <%= @worker.worker_level %>
      </td>
    </tr>
    <tr>
      <td class='information'>
        Location
      </td>
      <td>
        <%= @worker.location %>
      </td>
    </tr>
    <tr>
      <td class='information'>
        Specialty
      </td>
      <td>
        <%= @worker.specialty %>
      </td>
    </tr>
    <tr>
      <td class='information'>
        Contact Number
      </td>
      <td>
        <%= @worker.contact_number %>
      </td>
    </tr>
</table>

<div>
  <%= link_to "Delete",{:action => 'destroy', :id => @worker.id}, :method => :delete, :class => 'delete' %>

</div>

<%= link_to 'Edit', {:action => 'edit', :id => @worker.id}, :class => 'edit' %>
